<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- ローカルフォルダを先に書いておくと、同じID/Versionがあった場合はこちらが優先される -->
    <add key="LocalNuget" value="Nuget_local" />
    <!-- ふつうの nuget.org も残しておく -->
    <add key="nuget_org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
